 .des{
     margin : 0;
                background-color: #0056b3;
                color: white;
                font-family: Arial;
                text-align: center;
 }

            *{
                box-sizing: border-box;
                margin: 0;
            }

            .row {
                width: 100%;
                clear: both;
            }

            .banner {
                padding: 60px 20px;
            }

           .banner h1 { 
                font-weight: bold;
                font-size: 2.2em;
                margin-bottom: 15px;

            }

            .banner h2 {
                font-weight: 500;
                font-size: 1.2em;
                margin: 0 auto;
                max-width: 650px;
            }
       