 .des{
    margin : 0;
    background-color: #2E6FA7;
    color: white;
    font-family: Arial;
    text-align: center;
 }

            *{
                box-sizing: border-box;
                margin: 0;
            }

            .row {
                width: 100%;
                clear: both;
            }

            .banner {
                padding: 60px 20px;
            }

           .banner h1 { 
                font-weight: bold;
                font-size: 2.2em;
                margin-bottom: 15px;

            }

            .banner h2 {
                font-weight: 500;
                font-size: 1.2em;
                margin: 0 auto;
                max-width: 650px;
            }
       
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-header {
  background-color: #1F4E79; 
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.main-header h1 {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
}

.main-header nav {
  margin-top: 15px;
}

.main-header nav a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-size: 16px;
  font-weight: 500;
}

.main-header nav a:hover {
  text-decoration: underline;
}

div{
  float: left;
}

.col-1{
  width: 8.33%;
}

.col-2{
  width: 16.66%;
}

.col-3{
  width: 25%;
}

.col-4{
  width: 33.33%;
}

.col-5{
  width: 41.66%;
}

.col-6{
  width: 50%;
}

.col-7{
  width: 58.33%;
}

.col-8{
  width: 66.66%;
}

.col-9{
  width: 75%;
}

.col-10{
  width: 83.33%;
}

.col-11{
  width: 91.66%;
}

.col-12{
  width: 100%;
}

.title{
  font-weight: bold;
  font-size: 15px;
  font-family: Arial;
}

.text{
  font-weight: light;
  font-size: 15px;
  font-family: Arial;
}

.box{
  background-color: white;
  padding: 10px;
  color: black;
  text-align: left;
}

.whitespace{
  background-color: white;
  color: white;
}

.feature{
  margin-top: 15px;
  font-weight: bold;
  font-size: 35px;
  font-family: Arial;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0; 
  width: 100%;
  background-color: #1F4E79;
  color: white;
  text-align: center;
  padding: 15px 0; 
  box-sizing: border-box;
}