.des {
  margin: 0;
  background-color: #2E6FA7;
  color: white;
  font-family: Arial;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.row {
  width: 100%;
  clear: both;
}

.banner {
  padding: 60px 20px;
}

.banner h1 {
  font-weight: bold;
  font-size: 2.2em;
  margin-bottom: 15px;
}

.banner h2 {
  font-weight: 500;
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 650px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-header {
  background-color: #1F4E79;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.main-header h1 {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
}

.main-header nav {
  margin-top: 15px;
}

.main-header nav a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-size: 16px;
  font-weight: 500;
}

.main-header nav a:hover {
  text-decoration: underline;
}
.box {
  float: left;
}
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.title {
  font-weight: bold;
  font-size: 15px;
  font-family: Arial;
}

.text {
  font-weight: light;
  font-size: 15px;
  font-family: Arial;
}

.box {
  background-color: white;
  padding: 10px;
  color: black;
  text-align: left;
}

.whitespace {
  background-color: white;
  color: white;
}

.feature {
  margin-top: 15px;
  font-weight: bold;
  font-size: 35px;
  font-family: Arial;
  text-align: center;
}
* {
  box-sizing: border-box;
  font-family: Arial;
  font-size: small;
}

.label {
  font-size: 50px;
  text-align: center;
  margin-bottom: 25px;
}

.row {
  width: 100%;
  clear: both;
}
.prices {
  background-color: rgb(255, 255, 255);
  float: left;
  text-align: center;
  border-radius: 8px;
  box-shadow: 3px 3px 14px 3px rgba(203, 198, 198, 0.75);
  padding: 15px;
  margin-bottom: 50px;
}

.choose {
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(26, 200, 253);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.choose:hover {
  background-color: rgb(11, 147, 189);
}

.choose:active {
  background-color: rgba(11, 147, 189, 0.699);
}

.price-2 {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.price-1 {
  margin-left: 10%;
}
p {
  margin-bottom: 0px;
}

.footer {
  width: 100%;
  min-height: 60px;                 
  background-color: #1F4E79;        
  color: #ffffff;
  
  display: flex;                    
  align-items: center;            
  justify-content: center;          

  box-sizing: border-box;
}

