* {
    box-sizing: border-box;
    font-family: Arial;
    font-size: small;
}

.label {
    font-size: 50px;
    text-align: center;
    margin-bottom: 25px;
}

.row {
    width: 100%;
    clear: both;
}
.prices {
    background-color: rgb(255, 255, 255);
    float: left;
    text-align: center;
    border-radius: 8px;
    box-shadow: 3px 3px 14px 3px rgba(203, 198, 198, 0.75);
    padding: 15px
}

button {
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(26, 200, 253);
    color: white;
    padding-top : 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px
}

.price-2 {
    margin-left: 2.5%;
    margin-right: 2.5%;
    
}

.price-1 {
    margin-left: 10%;
}
p {
    margin-bottom: 0px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}