body{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
}
.center{
    text-align: center;
}

.submitHeader{
    background-color: blue;
    color: white;
    font-weight: bold;

}

.title{
    color: blue;
}

.button{
    margin-top: 20px;
}

.submittedHeader{
    background-color: green;
    color: white;
}

.card{
    margin-top: 30px;
}

.hidden{
    display: none;
}

.submitFormat{
    font-weight: bold;
    line-height: 2;
    white-space: pre-line;
}