* {
	box-sizing: border-box;
}
.card-body {
	font-size: 13.5px;
}
.card {
	margin: 4.25% 13.2%;
	box-shadow: 0 4px 10px 1px rgba(73, 73, 73, 0.315);
}

.form-control,
.form-select {
	font-size: 13.5px;
}
.card-header {
	background-color: #0d6efd;
	font-size: large;
	padding: 5px 14px;
	color: white;
}
.submit-header {
	background-color: rgb(3, 145, 97);
	padding: 5px 14px;
	color: white;
}
.title {
	color: #0d6efd;
	margin-bottom: 0px;
}

.btn {
	font-size: 13.5px;
}

#validation {
	display: none;
	color: red;
}

#submitted-info {
	display: none;
}
