.card {
  margin: 2.5% 16%;
}
.card-header {
  background-color: #0d6efd;
  padding: 5px 8px;
  color: white;
}
.submit-header {
  background-color: green;
  padding: 5px 8px;
  color: white;
}
.title {
  color: #0d6efd;
}

#validation {
  display: none;
  color: red;
}
